<!-- Container, Row, and Column used for illustration purposes -->
<div class="container">
    <div class="email-signup">
        <h5>Want to be alerted when we release new content?</h5>
       <!-- <span class="subhead">We won't spam your inbox and will send 1-2 mails a month.</span> -->
        <form id="email-signup-form">
            <div class="input-group">
                <input type="text" class="form-control" id="newsletter-email" placeholder="Your email" required>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default" id="newsletter-submit-btn">Subscribe</button>
                </span>
            </div>
        </form>
    </div>
</div>

<script>
    $('#email-signup-form').submit(function (e) {
        e.preventDefault();

        var email = $('#newsletter-email').val();

        if (email) {
            mixpanel.identify();
            mixpanel.people.set({
                "$created": new Date(),
                "$email": email
            });
        }

        $('#newsletter-submit-btn')
        .removeClass('btn-default')
        .addClass('btn-success')
        .prop('disabled', true)
        .prop('value', 'Thanks! We will be in touch!');
    });
</script>
