<footer class="center-block text-center">
    Written by <a href="/about">Saksham Uppal</a>. Developed by <a href="http://tilomitra.com">Tilo Mitra</a>. Made with <i class="em em-heart"></i> in Toronto.

    <div class="email-signup-wrapper email-signup-wrapper-inverse">
        {{> email}}
    </div>
</footer>
