<div class="module-body">
    <h1>Welcome to Teach Me Product!</h1>
	<h2>The motivation behind the site</h1>
    <p>
        <a target="_blank" href="https://en.wikipedia.org/wiki/Marc_Andreessen">Marc Andreessen</a> famously claimed <a target="_blank" href="http://www.wsj.com/articles/SB10001424053111903480904576512250915629460">"software is eating the world"</a>, and there's no doubt that software is becoming integral in many aspects of our lives. Behind the scenes, Product Managers (PMs) play a valuable role in building the software products that you know and love. Rightfully so, with the growing importance of software and the importance of PMs in the process, product management is more in-demand than ever.
    </p>
	<p>
		But while there's a lot of buzz around the craft...
	</p>
    <ul>
        <li>Many don't know what PMs do</li>
        <li>Those interested in breaking into product management don't know where to start</li>
        <li>Those new to the field don't know what relevant fundamental topics they should learn</li>
    </ul>
    <p>
        I went through each of these stages myself and understand how difficult it is. I've also had many people reach out to me that are interested in learning more about what I do as a PM, and how they can break into the field. While there's many great books, articles, and blog posts that touch on different topics in the diverse space of product management - it's tough for those getting started to know what to focus on, and to learn core terms and concepts quickly. Teach Me Product was created for this reason - it's a free curated resource to help you learn the fundamentals of software product management!
    </p>

    <h2>About Teach Me Product</h2>
    <p>
        <b>Teach Me Product is a free curated resource aimed at educating those that want to learn more about software product management and the PM toolkit.</b> The site contains a collection of written modules focused on software product management that cover core, professional development, and supplementary topics. If you're a student or early career professional interested in learning more about product management, or a new PM who wants a starting point to fill-in some gaps in knowledge, this resource will help you get started. Modules contain original content written by myself and guest contributors specializing on topics, and are supplemented with leading resources from across the web.
    </p>
    <h2>How should I use it</h2>
    <p>
        I'm a strong believer that learning happens through an iterative loop of theory, practice, and reflection. I encourage you to leverage Teach Me Product – and the resources referenced in it – to strengthen your understanding of product management. You should also apply your learning through building (nothing is too small!) and evaluating others' products to understand their ambitions and how you would improve things. Lastly, you should round this out by reflecting on your learning and grasp of concepts, and determining where you can further grow your understanding. Best of luck in your journey!
    </p>

    <h2>About me</h2>
    <img src="/images/profile.png" width="200" height="auto" class="pull-right profile" />
    <p>
        My name is Saksham Uppal and I <b>love</b> the craft of product management. I was recently a Product Manager at Intuit, a leading financial software company based out of Silicon Valley, and also led product for my own startup. I'm passionate about learning and helping others in their own learning journey. Having interviewed and coached PMs, and helped others transition into product management, I realized the need for a curated resource and created Teach Me Product.
    </p>

    <h2>Contact me</h2>
    <p>
        If you have feedback on how to improve TMP or are interested in getting in touch, send me an email at: teachmeproduct [at] gmail.com.
    </p>

    <h2>Special thanks</h2>
    <p>
        his has been a team effort! Thank you to the following individuals for providing their invaluable feedback and time to review content and make this possible: David Grubman, Josh Caron, Julie Ann Haldeman, Laure Fischer, Marina Milenkovic, Phil Chen, Shahed Al-Haque, and Viktoriya Baydina. Special thanks to Tilo Mitra for crafting the website and Zia Su for designing the logo.
    </p>

</div>
