<div class="module-body">
    <h1>The motivation behind TMP</h1>
    <p>
        <a href="https://en.wikipedia.org/wiki/Marc_Andreessen">Marc Andreeson</a> famously claimed <a href="http://www.wsj.com/articles/SB10001424053111903480904576512250915629460">"software is eating the world"</a>. If software is eating the world, Product Managers (PMs) can be thought of as one the key chefs in the kitchen – and rightfully so, software product management is more in-demand than ever. While there's a lot of buzz around the craft.
    </p>
    <ul>
        <li>Many don't know what PMs do</li>
        <li>Those interested in breaking into product management don't know where to start</li>
        <li>Those new to the field don't know what relevant fundamental topics they should learn</li>
    </ul>
    <p>
        I went through each of these stages myself and understand how difficult it is. I've also had many people reach out to me that are interested in learning more about what I do as a PM, and how they can break into the field. After trying to find resources to help them get started, I found many gaps. There are several blog posts and books on product but most focus only on specific topics. When you're starting off, it's hard to know what you should cover and what you should take with a grain of salt. Teach Me Product (TMP) was created for this reason - it's a free curated resource to help you learn the fundamentals of software product management!
    </p>

    <h2>About TMP</h2>
    <p>
        Teach Me Product is a free curated resource aimed at educating those that want to learn more about software product management and the PM’s toolkit. The site contains a collection of written modules focused on software product management that cover core, professional development, advanced, and supplementary topics. If you're a student or early career professional interested in learning more about product management, or a new PM who wants to fill-in some gaps, this resource will help you get started. Modules contain original content written by myself, with input from PMs across top software companies, and are supplemented with resources from across the web.
    </p>
    <h2>How to use TMP</h2>
    <p>
        I'm a strong believer that learning happens through an iterative loop of theory, practice, and reflection. I encourage you to leverage TMP – and the resources referenced in it – to strengthen your understanding of product management. You should also apply your learning through building (nothing is too small!) and evaluating others' products to understand their ambitions and how you would improve things. Lastly, you should round this out by reflecting on your progress - what are your strengths, what are your weaknesses, and how can you take your efforts further? Best of luck in your journey!
    </p>

    <h2>About Me</h2>
    <p>
        My name is Saksham Uppal and I <em>love</em> the craft of product management. I was recently a Product Manager at <a href="https://www.intuit.com">Intuit</a>, a leading financial software company based out of Silicon Valley, and also led product for my own startup. I'm passionate about learning and helping others in their own learning journey. Having interviewed and coached PMs, and helped others transition into product management, I realized the need for a curated resource and created Teach Me Product
    </p>
    <h2>Contact me</h2>
    <p>
        If you have feedback on how to improve TMP or are interested in getting in touch, send me an email at: teachmeproduct [at] gmail.com.
    </p>

    <h2>Special thanks</h2>
    <p>
        TMP has been a team effort! Thank you to the following individuals for providing their invaluable feedback and time to review content and make this possible: David Grubman, Josh Caron, Julie Ann Haldeman, Laure Fischer, Marina Milenkovic, Phil Chen, Shahed Al-Haque, and Viktoriya Baydina. Special thanks to Tilo Mitra for crafting the website and Zia Su for designing the logo.
    </p>

</div>
