<div class="module-body informational">

    <h1>Resources</h1>
    <p>
        Interested in learning more? Here are several product management resources to explore!
    </p>

    <h2>Books</h2>
    <p>
        The following are great books I've found on topics relevant to product. While some of the topics may not be core to the PM role, product management is a multi-faceted role and adopting different perspectives can help you be a better PM.
    </p>

    <h3>On product management:</h3>

    <ul>
        <li><a target="_blank" href="http://amzn.com/0981690408">Inspired: How to Create Products Customers Love</a> by Marty Cagan</li>
    </ul>


    <h3>On opportunity and customer discovery:</h3>
    <ul>
        <li><a target="_blank" href="http://amzn.com/0307887898">The Lean Startup</a> by Eric Reis</li>
        <li><a target="_blank" href="http://amzn.com/0321657292">Rocket Surgery Made Easy</a> by Steve Krug</li>
        <li><a target="_blank" href="http://amzn.com/150112174X">Sprint: How to Solve Big Problems and Test New Ideas in Just Five Days</a> by Jake Knapp</li>
    </ul>


    <h3>On product development:</h3>
    <ul>
        <li><a target="_blank" href="http://amzn.com/1118960874">The Lean Product Playbook</a> by Dan Olsen</li>
        <li><a target="_blank" href="https://gettingreal.37signals.com/">Getting Real</a> by 37signals</li>
        <li><a target="_blank" href="http://amzn.com/1491904909">User Story Mapping</a> by Jeff Patton</li>
    </ul>


    <h3>On design:</h3>
    <ul>
        <li><a target="_blank" href="http://amzn.com/0465050654">The Design of Everyday Things</a> by Donald Norman</li>
        <li><a target="_blank" href="http://amzn.com/0321965515">Don't Make Me Think</a> by Steve Krug</li>
        <li><a target="_blank" href="http://amzn.com/1449334911">UX for Lean Startups</a> by Laura Klein</li>
    </ul>


    <h3>On analytics:</h3>
    <ul>
        <li><a target="_blank" href="http://amzn.com/1449335675">Lean Analytics</a> by Alistair Croll</li>
        <li><a target="_blank" href="http://amzn.com/0470529393">Web Analytics 2.0</a> by Avinash Kaushik</li>
    </ul>

    <h3>On data:</h3>
    <ul>
        <li><a target="_blank" href="Naked%2520Statistics">Naked Statistics</a> by Charles Wheelan</li>
    </ul>

    <h3>On getting a PM job:</h3>
    <ul>
        <li><a target="_blank" href="http://amzn.com/0984782818">Cracking the PM Interview</a> by Gayle Laakmann McDowell and Jackie Bavaro</li>
        <li><a target="_blank" href="http://amzn.com/0615930417">Decode and Conquer</a> by Lewis C. Lin</li>
    </ul>

    <h3>On niche product-related topics:</h3>
    <ul>
        <li><a target="_blank" href="http://amzn.com/1591847788">Hooked: How to Build Habit-Forming Products</a> by Nir Eyal</li>
        <li><a target="_blank" href="http://amzn.com/1626567409">Mobilized</a> by SC Moatti</li>
        <li><a target="_blank" href="http://amzn.com/1511744049">Actionable Gamification</a> by Yu-kai Chou</li>
        <li><a target="_blank" href="http://amzn.com/0321768434">Design for How People Learn</a> by Julie Dirksen</li>
    </ul>


    <h3>On psychology:</h3>
    <ul>
        <li><a target="_blank" href="http://amzn.com/0061353248">Predictability Irrational</a> by Dan Ariely</li>
        <li><a target="_blank" href="http://amzn.com/0374533555">Thinking, Fast and Slow</a> by Daniel Kahneman</li>
        <li><a target="_blank" href="http://amzn.com/006124189X">Influence</a> by Robert B. Cialdini</li>
    </ul>


    <h3>On miscellaneous topics:</h3>
    <ul>
        <li><a target="_blank" href="http://amzn.com/0470876417">Business Model Generation</a> by Alexander Osterwalder and Yves Pigneur</li>
        <li><a target="_blank" href="http://amzn.com/0553384112">Negotiation Genius</a> by Deepak Malhotra</li>
    </ul>


    <h2>Blogs and mailing lists</h2>

    <p>I encourage you to subscribe to and follow these blogs. Many also have weekly newsletters that you can subscribe to in order to get great product content sent directly to your inbox!</p>
    <ul>
        <li><a target="_blank" href="https://www.productmanagerhq.com/start-here/">Product Manager HQ</a></li>
        <li><a target="_blank" href="http://firstround.com/review/">First Round Review</a></li>
        <li><a target="_blank" href="http://www.mindtheproduct.com/">Mind the Product</a></li>
        <li><a target="_blank" href="http://www.svpg.com/articles">Silicon Valley Product Group blog</a></li>
        <li><a target="_blank" href="https://www.productschool.com/blog/">Product School blog</a></li>
        <li><a target="_blank" href="http://www.producttalk.org/">Product Talk</a></li>
        <li><a target="_blank" href="https://pmblog.quora.com/?mc_cid=ac3ddb65ce&amp;mc_eid=be75a30313">The Art of Product Management</a></li>
        <li><a target="_blank" href="http://www.sachinrekhi.com/">Sachin Rekhi's blog</a></li>
        <li><a target="_blank" href="https://tpgblog.com/">The Product Guy blog</a></li>
        <li><a target="_blank" href="http://blog.sueraisty.com/">Sue Raisty: Blog of a Product Management Geek</a></li>
        <li><a target="_blank" href="http://www.goodproductmanager.com/">How To Be A Good Product Manager</a></li>
    </ul>


    <h2>Other free PM resources</h2>
    <ul>
        <li><a target="_blank" href="https://www.productmanagerhq.com/start-here/">Product Manager HQ</a></li>
        <li><a target="_blank" href="https://github.com/tron1991/open-product-management">Open Product Management</a></li>
        <li><a target="_blank" href="http://softwareproductmanagement.co/">Software Product Management Stack</a></li>
        <li><a target="_blank" href="http://attackwithnumbers.com/i-love-product-management">I love Product Management</a></li>
        <li><a target="_blank" href="https://sites.google.com/site/hbspm101/home/2015-16-sessions">Harvard Business School - PM101</a></li>
        <li><a target="_blank" href="http://platformsandnetworks.blogspot.ca/p/resources-product-management.html">Platforms and Networks - Product Management</a></li>
    </ul>



    <h2>Courses</h2>
    <p>Here is a set of courses focused on software product management that you may find useful, especially if you're trying to transition into the PM role and would like further structured learning and practice.</p>

    <h3>In-person</h3>
    <ul>
        <li><a target="_blank" href="http://www.brainstation.io/course/toronto/product-management">BrainStation</a> - part-time, offered in Toronto, New York, and Vancouver</li>
        <li><a target="_blank" href="https://generalassemb.ly/education/product-management">General Assembly</a> - part-time, offered across 15 global cities</li>
        <li><a target="_blank" href="https://www.productschool.com">Product School</a> - part-time, offered across 8 US cities</li>
    </ul>


    <h3>Online</h3>
    <ul>
        <li><a target="_blank" href="http://www.oneweekpm.com/?ref=productmanagerhq.com">One Week PM</a> by Product Manager HQ</li>
        <li><a target="_blank" href="https://www.udemy.com/courses/search/?q=product%20management&amp;src=ukw&amp;lang=en">Various courses on Udemy</a></li>
        <li><a target="_blank" href="http://school.rajkaramchedu.com/courses/productmanagement">First-time Product Management</a> by Raj Karamchedu</li>
        <li><a target="_blank" href="https://www.coursera.org/specializations/product-management">Coursera Software Product Management Specialization</a></li>
        <li><a target="_blank" href="https://www.skillshare.com/classes/technology/Fundamentals-of-Product-Management/13678645">Fundamentals of Product Management</a> by Ellen Chisa</li>
        <li><a target="_blank" href="http://pmloop.com/courses/product-management-course-bundle">Product Management Course Bundle</a> by PM Loop</li>
    </ul>


    <h3>Additional training and workshops</h3>
    <ul>
        <li><a target="_blank" href="http://www.svpg.com/public-workshops/">How to Create Products Customers Love workshop</a> by Silicon Valley Product Group</li>
        <li><a target="_blank" href="http://www.mindtheproduct.com/product-management-training/">Product management training workshops</a> by Mind the Product</li>
        <li><a target="_blank" href="https://www.scrumalliance.org/certifications/practitioners/cspo-certification">Certified Scrum Product Owner (CSPO) training</a> / locations <a target="_blank" href="https://www.scrumalliance.org/courses-events/course?type=Cspo;">here</a></li>
    </ul>


    <h2>Communities to join</h2>
    <p>Open Product Management has a <a target="_blank" href="https://github.com/tron1991/open-product-management#communities-to-join">long list of communities to join, including groups, meetups, and conferences.</a></p>


    <h2>Tools for PMs</h2>
    <p>PM HQ has an <a target="_blank" href="https://www.productmanagerhq.com/product-manager-tool-guide/">extensive set of over 50 resources relevant to PMs</a>.</p>
    <br><br>
    <p>Think something should be added? Send me a note at: info [at] teachmeproduct.com.</p>
</div>
