body, p {
      font-family: "Lora", serif;
      font-size: 17px;
      line-height: 1.7;
      color: #555;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #111;
}



.btn {
    font-family: 'Open Sans', sans-serif !important;
    text-decoration: none;
    border-radius: 0;
}

.btn-default {
    background: #111;
    color: white !important;
    border: none;
    transition: all 0.3s;
}
.btn-default:hover {
    background: #333;
    border: none;
}

h2 {
    margin: 30px 0 10px 0;
}

h3 {
    margin: 30px 0 10px 0;
}

iframe {
    margin: 30px auto;
    display: block;
    border: none;
}

.link-source, .image-caption {
    text-align: center;
    margin: 20px auto;
}

.chapter-title, h3, h4, h5, h6 {
    font-weight: 500;
    color: black;
}


a, a:visited {
  color: #555;
  text-decoration: underline;
  transition: color 0.25s;
}

a:hover {
    color: #577de8;
}


.banner {
    background: black url('https://images.unsplash.com/photo-1414124488080-0188dcbb8834?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=cc6da4cbf6f5228e67e7ac7fc7149c9e') no-repeat;
    background-size: cover;
    height: calc(100vh - 20px);
    margin-top: -20px;
    text-align: center;
}
.banner h1 {
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 40vh;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
    color: white;
    font-weight: 100;
    font-size: 36px;
}

.banner h2 {
    margin: 0;
    padding-top: 15px;
    line-height: 1;
    font-size: 24px;
    color: #ccc;
    font-weight: 100;
    text-align: center;
}
.banner .btn {
    margin-top: 20px;
    color: #333;
    background: white;
    font-size: 18px;
    border: none;

}

.chapter {
    border-bottom: 1px solid #ddd;
}

.chapter-contents-title {
    margin-bottom: 0;
}

.chapter-contents-list {
    margin: 20px inherit;
    padding: 10px 0 10px 10px;
}

.module-main {
    margin: 0;
    padding-left: 20px;
    list-style: none;
}
.module-body.module-home {
    max-width: 700px;
}

.module-body {
    max-width: 700px;
    margin: 100px auto 50px;
}

.module-body img {
    display: block;
    margin: 0 auto;
}

.excerpt {
    font-size: 14px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.coming-soon {
    font-size: 10px;
    font-family: "Work Sans", sans-serif;
    padding: 4px 10px;
    margin-top: -3px;
    margin-bottom: 10px;
    border: 1px solid #23d2a9;
    color: #23d2a9;
    font-weight: normal;
    border-radius: 5px;

}
.image-wrapper {
    text-align: center;
}

.image-caption {
    display: block;
    font-size: 14px;
    text-decoration: none;
    font-style: normal;
}

.sidebar {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    border-right: 1px solid #ddd;
    max-width: 300px;
    padding-top: 60px;
    transition: opacity 0.5s;
}

.sidebar:hover {
    opacity: 1 !important;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px;
    padding: 5px;
    border-radius: 4px;
    transition: background 0.3s;
}

.sidebar ul li:hover {
    background: #eee;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.menu {
    width: 100%;
    background: white;
}
.menu-items {
    list-style: none;
}

.menu-item {
    display: block;
    padding: 5px 20px;
}

.module-footnotes {
    font-size: 14px;
}
.module-footnotes-list {
    padding-left: 15px;
    list-style: none;
}
.module-footnotes-list li {
    padding-top: 5px;
}

.nav-active {
    color: #577de8 !important;
}

.submodule {
    padding-top: 60px;
}

.submodule h2 {
    margin-top: 0;
}

.menu-section-subtitle,
.menu-section-header {
    display: none !important;
}

#topbar {
    font-family: "Open Sans", sans-serif;
    background: #111;
    font-size: 14px;
    border: none;
}
#topbar a {
    text-decoration: none;
}

#topbar .navbar-brand {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    background: #23d2a9;
    letter-spacing: 0.1em;
    transition: all 0.5s;
    cursor: pointer;
}
#topbar .navbar-brand:hover {
    background: transparent;
    color: #23d2a9;
}
#topbar .navbar-toggle {
    border-radius: 0;

}

#topbar .navbar-toggle .icon-bar {
    background: #23d2a9;
}

.module-control {
    display: block;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #aaa;
    margin-bottom: 5px;
}
@media (max-width: 1200px) {

    body, p {
        font-size: 16px;
        line-height: 1.6;
    }

    .menu-section-subtitle,
    .menu-section-header {
        display: block !important;
    }
    #topbar .menu-section-header {
        margin: 10px 15px;
    }
    .sidebar {
        display: none !important;
    }
    .module-body {
        padding: 0 20px 20px;
    }
}
