body, p {
      font-family: "Lora", serif;
      font-size: 17px;
      line-height: 1.7;
      color: #555;
}

h1, h2, h3, h4, h5, h6, footer {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #111;
}

h1 {
    font-size: 30px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

footer {
    background: #eee;
    padding: 30px 0;
    font-size: 14px;
    color: #666;
}

.module-body img.profile {
    display: block;
    border-radius: 200px;
    width: 175px !important;
    padding-left: 15px;
}

.btn {
    font-family: 'Open Sans', sans-serif !important;
    text-decoration: none;
    border-radius: 0;
}

.btn-default {
    background: #2B7EC6;
    color: white !important;
    border: none;
    transition: all 0.3s;
}
.btn-default:hover {
    /*background: #DAFF19; */
    background: #b6d53b;
    color: black !important;
    border: none;
}

h2 {
    margin: 30px 0 10px 0;
}

h3 {
    margin: 30px 0 10px 0;
}

iframe {
    margin: 30px auto;
    display: block;
    border: none;
}

.link-source, .image-caption {
    text-align: center;
    margin: 0 auto 10px auto;
}


.chapter-title, h3, h4, h5, h6 {
    font-weight: 500;
    color: black;
}


a, a:visited {
  color: #555;
  text-decoration: underline;
  transition: color 0.25s;
}

a:hover {
    color: #577de8;
}

.banner {
    background: #fff;   /* fallback for old browsers */
    background-image: linear-gradient(0deg, white, transparent), url("/images/banner_img.jpg");
    background-size: cover;
    height: 100vh;
    text-align: center;
    padding-top: 25vh;
    position: relative;
}


.banner .arrow-down {
  display: inline-block;
  background: url('/images/arrow-down.png') no-repeat;
  width: 32px;
  height: 32px;
  background-size: cover;
  margin: 0 auto;
  position: absolute;
  bottom: 20px;
  cursor: pointer;
  border-radius: 100px;
  border: 3px solid transparent;
  transition: border-color 0.3s;
}
.banner .arrow-down:hover {
    border: 3px solid #b6d53b;
}


.banner h1 {
    max-width: 750px;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 24px;
    width: 100%;
    height: auto;

}

.banner h1 img{
    width: 100%;
    height: auto;
}

.banner h2 {
    margin: 0;

    line-height: 1;
    font-size: 22px;
    color: rgba(0,0,0,0.75);
    font-weight: 400;
    text-align: center;
}

.banner .btn-cta {
    margin-top: 20px;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    background: #2C82CD;
    font-size: 18px;
    border: none;
}

.chapter {
    border-bottom: 1px solid #ddd;
}

.chapter-contents-title {
    margin-bottom: 0;
}

.chapter-contents-list {
    margin: 20px inherit;
    padding: 10px 0 10px 10px;
    list-style: none;
}
.chapter-contents-list-number {
    padding-right: 10px;
    display: inline-block;
    margin-top: -3px;
}

.module-main {
    margin: 0;
    padding-left: 20px;
    list-style: none;
}
.module-body.module-home {
    max-width: 700px;
}

.module-body {
    max-width: 700px;
    margin: 100px auto 50px;
}

.module-body img {
    max-width: 400px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.excerpt {
    font-size: 14px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.chapter-meta {
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    padding: 4px 10px;
    margin-top: -3px;
    margin-bottom: 10px;
    font-weight: bold;
}

.coming-soon {
    border: 1px solid #8b8989;
    color: #8b8989;

}

.available-now {
    border: 1px solid #2B7EC6;

    text-decoration: none;
    color: #2B7EC6 !important;
}
.available-now:hover {
    background: #2B7EC6;
    text-decoration: none;
    color: white !important;
}

.image-wrapper {
    text-align: center;
}

.image-caption {
    display: block;
    font-size: 14px;
    text-decoration: none;
    font-style: normal;
}

.module-written-by {
    margin-bottom: 20px;
    font-size: 12px;
    padding-left: 65px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.module-number {
    display: inline-block;
    background: #2B7EC6;
    color: white;
    border-radius: 5px;
    font-size: 90%;
    padding: 3px 10px;
    margin-right: 10px;
}
.sidebar {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    border-right: 1px solid #ddd;
    max-width: 300px;
    padding-top: 60px;
    opacity: 1;
}


.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px;
    padding: 5px;
    border-radius: 4px;
    transition: background 0.3s;
}

.sidebar ul li:hover {
    background: #eee;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.sidebar-social {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    padding-left: 20px;
}

.sidebar-social .btn,
.sidebar-social .btn:active,
.sidebar-social .btn:hover {
    color: white !important;
    margin-bottom: 5px;
    border-radius: 3px;
}

.menu {
    width: 100%;
    background: white;
}
.menu-items {
    list-style: none;
}

.menu-item {
    display: block;
    padding: 5px 20px;
}

.module-footnotes {
    font-size: 14px;
}
.module-footnotes-list {
    padding-left: 15px;
    list-style: none;
}
.module-footnotes-list li {
    padding-top: 5px;
}

.nav-active {
    color: #577de8 !important;
}

.submodule {
    padding-top: 60px;
}

.submodule h2 {
    margin-top: 0;
}

.menu-section-subtitle,
.menu-section-header {
    display: none !important;
}

#topbar {
    font-family: "Open Sans", sans-serif;
    background: #111;
    font-size: 14px;
}
#topbar a, .menu-section-header {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 14px;
}

.menu-section-header {
    color: #b6d53b;
}
.menu-section-subtitle {
    padding-left: 15px;
}

#topbar .navbar-brand {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    letter-spacing: 0.1em;
    transition: all 0.5s;
    cursor: pointer;
}

#topbar .navbar-brand img {
    margin-top: -5px;
}
#topbar .navbar-toggle {
    border-radius: 0;

}

#topbar .navbar-toggle .icon-bar {
    background: #b6d53b;
}

#topbar .navbar-collapse.collapsing,
#topbar .navbar-collapse.in {
    box-shadow:rgba(0, 0, 0, 0.6) 0px 6px 50px;
}
.module-control {
    display: block;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color:#5a5a5a;
    margin-bottom: 5px;
}


.email-signup {
    margin: 40px auto 20px auto;
    width: 400px;
    font-family: 'Open Sans', sans-serif !important;
    padding: 40px 20px 20px;
}
.email-signup h5 {
    padding-bottom: 10px;
    color: rgba(0,0,0,0.8);
    font-size: 14px;
    margin: 0;
}

.email-signup #newsletter-email {
    border: none;
    color: white !important;
    font-size: 16px !important;
    background: #29323b;
    padding-bottom: 5px !important;
}

.email-signup #newsletter-submit-btn {
    font-size: 16px !important;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.email-signup .subhead {
    color: rgba(255,255,255,0.5);
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
}

.email-signup-wrapper-inverse .email-signup {
    border-color: rgba(0,0,0,0.1);
}
.email-signup-wrapper-inverse h5 {
    color: #333 !important;
}
.email-signup-wrapper-inverse .subhead {
    color: #aaa !important;
}


@media (max-width: 1300px) {

    body, p {
        font-size: 16px;
        line-height: 1.6;
    }

    .module-body iframe,
    .module-body img {
        width: 360px !important;
        overflow: hidden !important;
        margin-left: 0 auto;
    }

    .menu-section-subtitle,
    .menu-section-header {
        display: block !important;
    }
    #topbar .menu-section-header {
        margin: 10px 15px;
    }
    .sidebar {
        display: none !important;
    }
    .module-body {
        padding: 0 20px 20px;
    }
}

@media (max-width: 500px) {
    .email-signup {
        width: 100%;
    }
}
