body, p {
      font: 16px "proxima-nova", Helvetica, Arial, sans-serif;
      line-height: 1.6;
}

h1, h2 {
    font-family: serif;
}

.chapter-title, h3, h4, h5, h6, p {
    font-family: 'proxima-nova', sans-serif;
}

a {
  color: #00B7FF;
  transition: color 0.25s;
}

a:hover {
    text-decoration: none;
    color: blue;
}


.banner {
    background: black url('https://images.unsplash.com/photo-1414124488080-0188dcbb8834?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=cc6da4cbf6f5228e67e7ac7fc7149c9e') no-repeat;
    background-size: cover;
    height: calc(100vh - 20px);
    margin-top: -20px;
}
.banner h1 {
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 40vh;
    font-family: 'proxima-nova', sans-serif;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
    color: white;
    font-weight: 100;
    font-size: 50px;
}

.banner h2 {
    margin: 0;
    padding-top: 15px;
    line-height: 1;
    font-size: 24px;
    color: #ccc;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 100;
    text-align: center;
}

.chapter-table > tbody > tr > td {
     vertical-align: middle;
}

.chapter {
    color: white;
    text-align: left;
    width: 250px;
}

.chapter-contents-title {
    margin-bottom: 0;
}
#chapter-1_Intro {
    color: #757984;
}

#chapter-2_Supplementary {
    color: #757984;
}

#chapter-3_Core {
    color: #B76430;
}
#chapter-4_Professional-Development {
    color: #00597F;
}

#chapter-5_Advanced {
    color: #DF6259;
}

.module-main {
    margin: 0;
    padding-left: 20px;
    list-style: none;
}
.module-body.module-home {
    max-width: 700px;
}

.module-body {
    max-width: 700px;
    margin: 50px auto;
}

.module-body img {
    display: block;
    margin: 0 auto;
}

.image-wrapper {
    text-align: center;
}

.image-caption {
    font-size: 12px;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    border-right: 1px solid #ddd;
    max-width: 300px;
    padding-top: 60px;
    transition: opacity 0.5s;
}

.sidebar:hover {
    opacity: 1 !important;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px;
    padding: 5px;
    border-radius: 4px;
    transition: background 0.3s;
}

.sidebar ul li:hover {
    background: #eee;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.menu {
    width: 100%;
    background: white;
}
.menu-items {
    list-style: none;
}

.menu-item {
    display: block;
    padding: 5px 20px;
}

.module-footnotes {
    font-size: 14px;
}
.module-footnotes-list {
    padding-left: 15px;
}
.module-footnotes-list li {
    padding-top: 5px;
}

.nav-active {
    color: #00B7FF !important;
}
