<h2 id="1-1-what-is-a-product-">1.1 What is a product?</h2>
<p>For our purposes, a product is simply a piece of software that tries to deliver value (e.g., utility, entertainment, etc.) to those people who interact with it, which we refer to as users (users who pay for a product are also called customers). Products can operate on single or multiple computing platforms (e.g., desktops, web browsers, mobile devices, etc.).</p>
<p>While there is contention around an exact definition, to keep things simple, for our purposes, a feature is a subset of a product that offers some notable functionality or benefit (e.g., performance). A single product can have and usually has multiple features.</p>
<p>Additionally, you may hear of something being a software platform. In this case, the platform is a software product itself that allows others to build applications on top of it.</p>
<p>For example, Facebook, specifically the website and mobile app, is a social networking product. It operates on multiple platforms including web-browsers and mobile devices. Facebook is comprised of multiple features some of which include the News Feed, Search, Like button, Notifications, and Messages. Additionally, Facebook also offers the Facebook Platform, which in the simplest terms offers tools that allow third-party developers (these are developers that don&#39;t work for Facebook) to develop their own applications that access Facebook data (e.g., Zynga&#39;s Farmville game was built on the Facebook Platform).</p>
<h2 id="1-2-what-is-product-management-">1.2 What is product management?</h2>
<p>Product Management is an essential practice in software companies that facilitates the planning, development, delivery, and continuous improvement of both internal and external products. An example of an internal product could be a forecasting tool that a company such as Plated builds for their operations team so they have a sense what future demand may be and order inventory accordingly. An example of an external product could be the iPhone app that Uber offers customers so they can order a cab.</p>
<p>In larger organizations Product Management is typically a distinct function that works with other functions such as Engineering, Design, Marketing, etc. In much smaller companies, say a 5-person startup, functions may not be as well defined, as everyone is wearing multiple hats and duties are more fluid. In this case, Product Management duties could be done by one or more people.</p>
<h3 id="further-reading-on-product-management-and-its-role-in-an-organization-">Further reading on Product Management and its role in an organization:</h3>
<ul>
<li><a href="http://google.com">Why Companies Need Full-Time Product Managers by Rian van der Merwe</a></li>
<li><a href="http://google.com">The Black Box of Product Management by Brandon Chu</a></li>
<li><a href="http://google.com">What is Product Management? by Sue Raisty</a></li>
</ul>
